body{
  background-color:#282c34;
  color: #fafffc;
  font-family: 'Ubuntu', sans-serif;
}

#jarak{
  margin-top: 13%;
}

.kotak{
  padding: 50px;
  background-color: rgba(178, 231, 247, 0.142) ;
  border-radius: 50px;
}